* {
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
}




body {
  background-color: grey;
  height: 100vh;
}
.push {
padding: 10px;
margin-left: 5px;
}

.inputField {
  padding: 10px;
  
}




